*{
    margin: 0;
    padding: 0;
}

body { background:#eee; padding: 5%; font-family: "trebuchet MS";}

#corpo {
    background: #fff;
    border: 1px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    margin: 0 auto;
}

header {
    background-color: #ccc;
    padding: 2%;
    border-bottom: 1px solid #999;
}

header h1 {
    text-align: center;
    text-shadow: 1px 1px 2px #fff;
    text-transform: uppercase;
}

main {
    padding: 2%;
}

footer {
    background: #ccc;
    text-align: center;
    padding: 2%;
    border-top: 1px solid #999;
}

table {
    border-collapse: collapse;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
    margin: 2% 0 2% 0;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .3);
    cursor:default;
}

table thead tr {
    background: #000;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    padding: 2%;
}

table tbody td, table thead th { padding: 10px; }

table tbody td { border-bottom: 1px solid #ddd;}

table tbody tr {
    transition: 0.6s;
}

table tbody tr:hover{
    background-color: yellow; cursor:crosshair;
        
}


.zebra { background: #eee;}

table tbody tr td img {
    max-width: 50px;
    max-height: 50px;
    border: 3px solid #ccc;
    border-radius: 10px;

    transition: 0.5s;
}

img:hover {
    transform: scale(1.8);
}

button a {    
    padding: 5px;
    background-color: rgb(255, 16, 16);    
    color: white;
    border: 3px;
    border-radius: 5px;    
    text-align: right;
    font: normal 15pt Arial;
    text-decoration: none;
            
}
   